.hexagon {
  position: relative;
  width: 88px; 
  height: 50.81px;
  background: linear-gradient(148.77deg, rgba(32, 35, 53, 0) 13.1%, rgba(13, 15, 19, 0.43) 77.15%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1), inset 10px 40px 50px rgba(130, 180, 255, 0.1);
  margin: 25.40px 0;
  border-left: solid 1.5px #82b4ff;
  border-right: solid 1.5px #82b4ff;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 62.23px;
  height: 62.23px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.8873px;
}

.hexagon:before {
  top: -31.1127px;
  border-top: solid 1.5px #82b4ff;
  border-right: solid 1.5px #82b4ff;
}

.hexagon:after {
  bottom: -31.1127px;
  border-bottom: solid 1.5px #82b4ff;
  border-left: solid 1.5px #82b4ff;
}